@font-face {
  font-family: "iconfont"; /* Project id 2534009 */
  src: url('iconfont.woff2?t=1621916208602') format('woff2'),
       url('iconfont.woff?t=1621916208602') format('woff'),
       url('iconfont.ttf?t=1621916208602') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e687";
}

.icon-bianji:before {
  content: "\e688";
}

.icon-bofang:before {
  content: "\e689";
}

.icon-dengpao:before {
  content: "\e68a";
}

.icon-biaoqian:before {
  content: "\e68b";
}

.icon-dianzan:before {
  content: "\e68c";
}

.icon-fenxiang:before {
  content: "\e68d";
}

.icon-fenlei:before {
  content: "\e68e";
}

.icon-gerenzhongxin:before {
  content: "\e68f";
}

.icon-fasong:before {
  content: "\e690";
}

.icon-diannao:before {
  content: "\e691";
}

.icon-gouwuche:before {
  content: "\e692";
}

.icon-maikefeng:before {
  content: "\e693";
}

.icon-kefu:before {
  content: "\e694";
}

.icon-laba:before {
  content: "\e695";
}

.icon-mima:before {
  content: "\e696";
}

.icon-naozhong:before {
  content: "\e697";
}

.icon-qianbao:before {
  content: "\e698";
}

.icon-shanchu:before {
  content: "\e699";
}

.icon-shouji:before {
  content: "\e69a";
}

.icon-quanzi:before {
  content: "\e69b";
}

.icon-shizhong:before {
  content: "\e69c";
}

.icon-shangyiye:before {
  content: "\e69d";
}

.icon-sousuo:before {
  content: "\e69e";
}

.icon-tianjia:before {
  content: "\e69f";
}

.icon-taolun:before {
  content: "\e6a0";
}

.icon-shangsheng:before {
  content: "\e6a1";
}

.icon-xiayiye:before {
  content: "\e6a2";
}

.icon-wancheng:before {
  content: "\e6a3";
}

.icon-xiangji1:before {
  content: "\e6a4";
}

.icon-xiaoxi:before {
  content: "\e6a5";
}

.icon-zhaopian:before {
  content: "\e6a6";
}

.icon-zanting:before {
  content: "\e6a7";
}

.icon-fanhui:before {
  content: "\e6a8";
}

.icon-shouye:before {
  content: "\e6d0";
}

.icon-xiazai:before {
  content: "\f0e9";
}

.icon-xiangji:before {
  content: "\e603";
}

.icon-yinle:before {
  content: "\e604";
}

.icon-tupian:before {
  content: "\e605";
}

.icon-meitiku:before {
  content: "\e606";
}

.icon-hualang:before {
  content: "\e607";
}

.icon-bofang-:before {
  content: "\e608";
}

.icon-kuaijin-:before {
  content: "\e609";
}

.icon-bofangliebiao:before {
  content: "\e60a";
}

.icon-zanting-:before {
  content: "\e60b";
}

.icon-yinleku:before {
  content: "\e60c";
}

.icon-zanting-1:before {
  content: "\e60d";
}

.icon-kuoyinqi-:before {
  content: "\e60e";
}

.icon-maikefeng-:before {
  content: "\e60f";
}

.icon-yuefu-:before {
  content: "\e610";
}

.icon-yinliang-:before {
  content: "\e611";
}

.icon-dianying-:before {
  content: "\e612";
}

.icon-dianshiju-:before {
  content: "\e613";
}

.icon-biaoqian-:before {
  content: "\e614";
}

.icon-zhuanji-:before {
  content: "\e615";
}

.icon-shoucang-:before {
  content: "\e616";
}

